<nav class="sidebar">
 <ul class="list-unstyled">
  <li><a href="/controle"><i class="fas fa-tachometer-alt"></i>Painel de controle</a></li>
  <li>
   <a href="#submenu1" data-toggle="collapse">
    <i class="fas fa-user"></i> Controle
   </a>
   <ul id="submenu1" class="list-unstyled collapse">
    <li><a href="/disponiveis"><i class="fas fa-users"></i>Disponiveis</a></li>
    <li><a href="/programados"> <i class="fas fa-file"></i></i>Programados</a></li>
    <li><a href="/viagem"> <i class="fas fa-eye"></i></i>Em viagem</a></li>
    <li><a href="cadastro-motorista"> <i class="fas fa-save"></i></i>Cadastro motorista</a></li>
   </ul>
  </li>


  <li><a href="#"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
 </ul>
</nav>
